body {
    margin: 20px;
    background-color: #FBFCFB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    margin: 8px 0 0 0; 
    line-height: 0;
}

h4 {
    margin: 12px 0 24px 0;
    line-height: 1.5;
    text-align: left;
}

label {
    line-height: 1.5;
    /* justify-content: center; */
}

a {
    color: #0077B5;
    text-decoration: none;
    border-bottom: 1px solid smoke;
}

#more_info a {
    color: #002913;
    /* text-decoration: none; */
}

.profile-img {
    width: 150px;
    height: 100%;
    border-radius: 12px;
    /* border: 2px solid black; */
    margin-right: 24px;
}


.card {
    width: 500px;
    margin: 0 auto;
    padding: 24px;
    /* display: flex; */
    justify-content: center;
    /* text-align: center; */
    background: #F3F6F4;
    color: #002913;
    border: 1px solid #D0D5DD;
    border-bottom: 4px solid #D0D5DD;
    border-radius: 24px;
    box-shadow: 0px 4px 5px #d3d3d3;
    /* align-items: center; */  
    background-image: url(images/background-image.png);
    background-size: 100px auto;
    background-repeat: no-repeat;
    /* background-position:bottom; */
    background-position-x: right;
    background-position-y: bottom;

} 

.card:hover {
    background-color: #FBFCFB;
    border: 1px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    box-shadow: 0 16px 28px rgb(187, 187, 187);
    animation: tada;
    animation-duration: 2s;
    padding: 24px;
  }

.upper-section{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 24px;
}

.upper-right {
    /* border: 2px solid black; */
}



/* .animate__jello{
    animation: jello 2s; 
} */

.con-link {
    text-align: center;
    border-top: 1px solid #d3d3d3;
    padding-top: 24px;
}

.furtherinfo {
    text-align: left;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        margin: 20px;
        text-align: left;

    }
        
    .card {
        width: 680px;
        margin: 0 auto;
        padding: 24px;
        /* display: flex; */
        justify-content: center;
        text-align: center;
         background: #F3F6F4;
        color: #002913;
        border: 1px solid #D0D5DD;
        border-bottom: 4px solid #D0D5DD;
        border-radius: 24px;
        box-shadow: 0px 4px 5px #d3d3d3;
        /* align-items: center; */ 
    
    }

    h3{
        margin: 18px 0 0 0; 
        line-height: 0;
        font-size: 32px;
    }
    
    h4 {
        margin: 12px 0 24px 0;
        line-height: 1.5;
        font-size: 28px;
    }
    
    label {
        line-height: 1.5;
        /* justify-content: center; */ 
        font-size: 20px;
    }
    
    a {
        color: #0077B5;
        text-decoration: none;
        border-bottom: 1px solid smoke;
    }
    
    #more_info a {
        color: #002913;
        /* text-decoration: none; */ 
    }
    
    .profile-img {
        width: 250px;
        height: 100%;
        border-radius: 12px;
        /* border: 2px solid black; */
        margin-right: 24px;
    }
    
    .card:hover {
        background-color: #FBFCFB;
        border: 1px solid goldenrod;
        border-bottom: 4px solid goldenrod;
        box-shadow: 0 16px 28px rgb(187, 187, 187);
        animation: tada;
        animation-duration: 2s;
      }
} 